<section class="social-media">
    <h1>Social Media</h1>
    {% if site.twitter_user %}
        <a href="https://twitter.com/{{site.twitter_user}}"><i class="fa fa-twitter"></i></a>
    {% endif %}
    {% if site.googleplus_user %}
        <a href="https://plus.google.com/{{site.googleplus_user}}"><i class="fa fa-google-plus"></i></a>
    {% endif %}
    {% if site.linkedin_url %}
        <a href=" http://www.linkedin.com/pub/{{site.linkedin_url}}"><i class="fa fa-linkedin"></i></a>
    {% endif %}
    {% if site.github_user %}
        <a href="https://github.com/{{site.github_user}}"><i class="fa fa-github"></i></a>
    {% endif %}
    {% if site.bitbucket_user %}
        <a href="https://bitbucket.org/{{site.bitbucket_user}}"><i class="fa fa-bitbucket"></i></a>
    {% endif %}
</section>
