<header class="site-header" data-turbo-permanent>
    <div class="site-header__title"><a href="/">The Dev Files</a></div>
    <div class="site-header__subtitle">Development blog of Jonathan Bernardi</div>
</header>
