{% if pagination.href.previous and pagination.href.previous !== page.url %}
    <link rel="prev" href="{{ pagination.href.previous }}">
{% endif %}
{% if pagination.href.next and pagination.href.next !== page.url %}
    <link rel="next" href="{{ pagination.href.next }}">
{% endif %}
