<div class="site-sidebar sidebar" data-turbo-permanent>
    {% include 'sidebar/about.njk' %}
    {% include 'sidebar/recent-posts.njk' %}
    {% include 'sidebar/archives.njk' %}
    {% include 'sidebar/categories.njk' %}
</div>
