.card, .widget {
    background-color: $background-light;
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(34, 34, 34, .1);
    margin: 1em 0;
    padding: 1em;
}

.card__title, .widget__title {
    border-bottom: 1px solid $border-light;
    font-size: 1.8em;
    margin: 0 0 .2em;
    padding-bottom: .2em;
}
