
.container {
    max-width: $max-width;
    margin: 0 1em;
    @media(min-width: $breakpoint-xlarge) {
        margin: 0 auto;
    }
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    @media(min-width: $breakpoint-medium) {
        flex-direction: row;
    }
}

.sidebar-column {
    flex-grow: 0;
    flex-shrink: 0;
    @media(min-width: $breakpoint-medium) {
        margin-left: 20px;
        width: calc(100% / 3 - 20px);
    }
    @media(min-width: $breakpoint-large) {
        width: calc(25% - 20px);
    }
}

.main-column {
    flex-grow: 1;
    flex-shrink: 1;
    @media(min-width: $breakpoint-medium) {
        width: calc(200% / 3);
    }
}

.middle-section {
    background-color: $background-medium;

    .sidebar {
        border-top: solid 1px #aaa;
        margin-top: 1em;

        @media(min-width: $breakpoint-medium) {
            border-top: none;
            margin-top: 0;
        }

    }

}
