<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
      {% if title %}
        {{ title }} |
      {% endif %}
      {% if not full_title %}
        {{ site.name }}
      {% endif %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="view-transition" content="same-origin">
    {% if meta_description %}
      <meta name="description" content="{{ meta_description }}">
    {% endif %}
    {% if noindex %}
      <meta name="robots" content="noindex, follow">
    {% else %}
      <meta name="robots" content="index, follow">
    {% endif %}
    {% if canonical %}
      <link rel="canonical" href="{{ canonical }}">
    {% else %}
      <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    {% endif %}
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="apple-touch-icon" type="image/png" href="/assets/images/favicon/48x48.png" sizes="48x48"/>
    <link rel="apple-touch-icon" type="image/png" href="/assets/images/favicon/64x64.png" sizes="64x64"/>
    <link rel="apple-touch-icon" type="image/png" href="/assets/images/favicon/120x120.png" sizes="120x120"/>
    <link rel="apple-touch-icon" type="image/png" href="/assets/images/favicon/152x152.png" sizes="152x152"/>
    <link rel="apple-touch-icon" type="image/png" href="/assets/images/favicon/196x196.png" sizes="196x196"/>
    <link rel="apple-touch-icon" type="image/png" href="/assets/images/favicon/256x256.png" sizes="256x256"/>
    <link rel="apple-touch-icon" type="image/png" href="/assets/images/favicon/512x512.png" sizes="512x512"/>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="sitemap" type="application/xml" href="/sitemap.xml">
    <link href="/feed.xml" rel="alternate" title="{{ site.name }}" type="application/atom+xml">
    <link rel="manifest" href="/manifest.json"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="{{ site.name }}">
    {% if meta_tags %}
      {% for tag in meta_tags %}
        <meta {% if tag.name %} name="{{ tag.name }}" {% endif %} {% if tag.property %} property="{{ tag.property }}" {% endif %} content="{{ tag.content }}">
      {% endfor %}
    {% endif %}
    {% if head %}
      {% include head ignore missing %}
    {% endif %}

    {% if schema %}
      <script type="application/ld+json">
        {{ schema | json | safe }}
      </script>
    {% endif %}
    {% stylesheet "/assets/css/styles.css", true %}
    <script defer src="{{ "/assets/js/app.js" | versioned }}"></script>
  </head>
  <body>
    <a href="#content" class="sr-only">scroll to content</a>
    <div class="site">
      {% include "header.njk" %}
      <div class="site-wrapper">
        <main id="content" class="site-content" aria-label="Main content">{{ content | safe }}</main>
        {% include "sidebar.njk" %}
      </div>
      {% include "footer.njk" %}
    </div>
    {% if scripts %}
      {% include scripts ignore missing %}
    {% endif %}
  </body>
</html>
