.post__title {
    margin-bottom: 0;
}
.post__date {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: 2px;
    color: var(--text-gray);
}
@media (min-width: 768px) {
    .post__date {
        font-size: 1.5rem;
    }
}
.post__categories {
    margin-bottom: 1rem;
    font-style: italic;
    color: var(--text-gray);
    font-size: .9rem;
}
.post__content {
    border-top: solid 1px var(--border);
    padding-top: 1rem;
}

.post a {
    color: var(--link-color);
    text-decoration: underline;
    transition: color 0.5s;
}

.post a:hover {
    color: var(--link-color-hover);
}
