.post {
  @extend .container;
}

.post__header {
  margin-bottom: 1em;
}

.post__title {
  @extend .container__title;
  a {
    color: $text-color;
    text-decoration: none;
    &:hover {
      color: $link-color;
      text-decoration: underline;
    }
  }
}

.post__date {
  color: $text-light;
  font-size: 1.2em;
  margin: 0;
}

.post__body {
  h2 {
    border-bottom: 1px solid $border-light;
    margin-bottom: .2em;
    padding-bottom: .2em;
  }
}

.post__footer {
  border-bottom: solid 1px $border-light;
  font-size: .8em;
  margin-bottom: 1em;
  ul {
    @include clearfix;
    list-style-type: disc;
    margin: 1em 0;
    padding: 0;
    li {
      float: left;
      list-style-position: inside;
      margin: 0 0 0 .5em;
      padding: 0 .5em 0 0;
      &:first-child {
        list-style-type: none;
        margin-left: 0;

      }
    }
  }
}

.post--teaser {
  .post__title {
    font-size: 1.6em;
  }
  .post__footer {
    border-bottom: 0;
    border-top: solid 1px $border-light;
    padding-top: 1em;
  }
}

.post__readmore,
.post__archive {
  margin: 1em 0;
}

.post__archive {
  text-align: center;
}

.post__readmore a,
.post__archive .post__archive__link {
  background-color: $background-medium;
  color: $text-color;
  display: inline-block;
  padding: .5em 1em;
  text-decoration: none;
  transition-duration: 400ms;
  &:hover {
    background-color: $link-color;
    color: #fff;
  }
}

.list__header {
  border-bottom: solid 1px $border-light;
  font-size: 1.5em;
}

.archive__post {
  .post__title {
    font-size: 1.4em;
    border-bottom: 0;
  }
  .post__date {
    font-size: .8em;
  }
  .post__footer {
    padding-bottom: .8em;
  }
}

.pagination--simple {

  ul {
    @include clearfix;
    font-size: .8em;
    margin: 1em 0;
    padding: 0;
    li {
      list-style-type: none;
      margin: 0;
      padding: .3em 0;
      a {

      }
      &.pagination--simple__previous {
        text-align: left;
        float: left;
      }
      &.pagination--simple__next {
        text-align: right;
        float: right;
      }
    }
  }
}
