.post__header {
    margin-bottom: 1em;
}

.post__title {
    a {
        color: $text-color;
        text-decoration: none;
        &:hover {
            color: $link-color;
            text-decoration: underline;
        }
    }
}

.post__date {
    color: $text-light;
    font-size: 1.2em;
    margin: 0;
}

.post__body {
    h2 {
        border-bottom: 1px solid $border-light;
        margin-bottom: .2em;
        padding-bottom: .2em;
    }
}

.post__footer {
    border-bottom: solid 1px $border-light;
    font-size: .8em;
    margin-bottom: 1em;
    ul {
        display: flex;
        list-style-type: disc;
        margin: 1em 0;
        padding: 0;
        li {
            list-style-position: inside;
            margin: 0 0 0 .5em;
            padding: 0 .5em 0 0;
            &:first-child {
                list-style-type: none;
                margin-left: 0;
                
            }
        }
    }
}

.post--teaser {
    .post__title {
        font-size: 1.6em;
    }
    .post__footer {
        border-bottom: 0;
        border-top: solid 1px $border-light;
        padding-top: 1em;
    }
}

.post__readmore,
.post__archive {
    margin: 1em 0;
}

.post__archive {
    text-align: center;
}

.post__readmore a,
.button, .button:visited {
    background-color: $background-medium;
    color: $text-color;
    display: inline-block;
    padding: .5em 1em;
    text-decoration: none;
    transition-duration: 400ms;
    &:hover {
        background-color: $link-color;
        color: #fff;
    }
}

.list__header {
    border-bottom: solid 1px $border-light;
    font-size: 1.5em;
}

.archive__post {
    .post__title {
        font-size: 1.4em;
        border-bottom: 0;
    }
    .post__date {
        font-size: .8em;
    }
    .post__footer {
        padding-bottom: .8em;
    }
}

.pagination {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-size: .8em;
        margin: 1em 0;
        padding: 0;
        li {
            list-style-type: none;
            margin: 0;
            padding: .3em 0;
        }
    }
}

.post__archive__link {
    text-align: center;
    font-size: 1rem;
}

.post__comments {
}

.comments {
}

.comment {
    margin:10px 0;
    padding:10px;
    border: solid 1px #e0e0e0;
    background-color: #fff;
    border-radius: 4px;
}

.comment__message {

}

.comment__footer {
}

.comment__name {

}

.comment__date {
}

// Comment Form
.form--comment {
    margin: 20px 0;
    padding:10px 0 0 0;
    border-top: solid 1px #e0e0e0;
}
.form--comment fieldset {
    border: none;
    padding:0;
    margin:0;
}
.form--comment legend {
    font-weight: bold;
    padding-bottom: 10px;
}

.comment-name,
.comment-message {
    width: 100%;
    font-size: 16px;
    padding:10px;
    border-radius: 4px;
    border: solid 1px #e0e0e0;
    box-shadow: none;
    outline: none;
}

.comment-name {

}

.comment-message {
    margin-top: 10px;
}

.comment-submit {
    border: none;
}
