.siteheader {
    background-color: $background-dark;
    padding: 1.5em 0;
}
.siteheader__title {
    font-size: 2em;
    margin: 0;
    text-shadow: 1px 1px 1px #000;
    @media(min-width: $breakpoint-small) {
        font-size: 3em;
    }
    a {
        text-decoration: none;
        color: #f2f2f2;
    }
}
.siteheader__subtitle {
    color: #aaa;
    font-size: 1em;
    margin: .2em 0 0;
    @media(min-width: $breakpoint-small) {
        font-size: 1.5em;
    }
}
