---
import avatar from '../assets/images/jonathan-bernardi.jpg'
import { Image } from "astro:assets";

import TwitterIcon from '../assets/icons/twitter-x-brands.svg';
import GithubIcon from '../assets/icons/github-brands.svg';
import LinkedInIcon from '../assets/icons/linkedin-square-brands.svg';
---

<section class="sidebar__section sidebar__section--about h-card">
    <header class="sidebar__section__title p-name">Jonathan Bernardi</header>
    <div class="sidebar__section__body">
        <div class="sidebar__section--about__gravatar"><Image class="sidebar__section--about__gravatar__image" src={avatar} width="80" height="80" loading="eager" alt="Jonathan Bernardi"></div>
        <div class="sidebar__section--about__social">
            <a class="sidebar__section--about__social__link" target="_blank" rel="noopener noreferrer" href="https://twitter.com/thejonbernardi" aria-label="Twitter" title="Twitter">
                <TwitterIcon aria-label="Twitter" aria-hidden="true" class="icon"  role="img" />
            </a>
            <a class="sidebar__section--about__social__link" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/pub/jonathan-bernardi/57/318/99a" aria-label="LinkedIn" title="LinkedIn">
                <LinkedInIcon aria-label="LinkedIn" aria-hidden="true" class="icon"  role="img" />
            </a>
            <a class="sidebar__section--about__social__link" target="_blank" rel="noopener noreferrer" href="https://github.com/spekkionu" aria-label="Github" title="Github">
                <GithubIcon aria-label="Github" aria-hidden="true" class="icon"  role="img" />
            </a>
        </div>
    </div>
</section>
