---
import About from './SidebarAbout.astro'
import RecentPosts from './SidebarRecentPosts.astro'
import Archives from './SidebarArchives.astro'
import Categories from './SidebarCategories.astro'
---
<section class="site-sidebar sidebar" data-turbo-permanent>
    <About />
    <RecentPosts />
    <Archives />
    <Categories />
</section>