<section class="sidebar__section sidebar__section--about h-card">
    <header class="sidebar__section__title p-name">Jonathan Bernardi</header>
    <div class="sidebar__section__body">
        <div class="sidebar__section--about__gravatar">
            <img class="sidebar__section--about__gravatar__image" src="https://www.gravatar.com/avatar/3e0fbc679833b39d3430c385494646d7?d=mp&s=80&r=g" alt="Jonathan Bernardi">
        </div>
        <div class="sidebar__section--about__social">
            <a class="sidebar__section--about__social__link" target="_blank" rel="noopener noreferrer" href="https://twitter.com/thejonbernardi" aria-label="Twitter">
                {% svg "assets/icons/twitter-brands.svg", "Twitter", {class: "icon"} %}
            </a>
            <a class="sidebar__section--about__social__link" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/pub/jonathan-bernardi/57/318/99a" aria-label="LinkedIn">
                {% svg "assets/icons/linkedin-brands.svg", "LinkedIn", {class: "icon"} %}
            </a>
            <a class="sidebar__section--about__social__link" target="_blank" rel="noopener noreferrer" href="https://github.com/spekkionu" aria-label="Github">
                {% svg "assets/icons/github-brands.svg", "Github", {class: "icon"} %}
            </a>
        </div>
    </div>
</section>
