<header class="siteheader">
    <div class="container">
        <h2 class="siteheader__title"><a href="/">{{ site.title }}</a></h2>
        <small class="siteheader__subtitle">{{ site.subtitle }}</small>
    </div>
</header>
