<nav class="menu__nav" role="navigation">
    <ul class="menu__links">
        <li class="menu__item">
            <a class="menu__link" href="/">Blog</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="/archive/">Archive</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="/contact/">Contact</a>
        </li>
        <li class="menu__item menu__item--rss">
            <a class="menu__link" href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">
                <i class="fa fa-rss"></i>
                <span class="sr-only">RSS</span>
            </a>
        </li>
    </ul>
</nav>
