<div class="menu menu--main">
    <div class="content-wrapper">
        {% include 'menu.twig' %}
        <div class="menu__right">
            {% include 'search.twig' %}
        </div>
    </div>
</div>
