<section class="sidebar sidebar-column">
    {% include 'about.twig' %}
    {{ recent_posts('recent_posts.twig') }}
    {{ date_navigation(page, 'date_navigation.twig') }}

    {{ tag_cloud('tag_cloud.twig') }}

</section>
