<aside class="widget widget--tags">
    <h4 class="widget__title">Tags</h4>

    <div class="widget__body">
        {% for tag in tag_cloud %}
            <span class="tag size{{ tag.weight }}"><a href="{{ tag.page }}">{{ tag.tag }}</a></span>
            {{ not loop.last ? '&nbsp;' }}
        {% endfor %}
    </div>
</aside>

