---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ site.url }}">
    <title><![CDATA[{{ site.name }}]]></title>
    <subtitle><![CDATA[{{ site.description }}]]></subtitle>
    <link href="{{ permalink | absoluteUrl(site.url) }}" rel="self"/>
    <link href="{{ site.url }}"/>
    <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <id>{{ site.url }}</id>
    <author>
        <name>{{ site.author }}</name>
    </author>
    {%- for post in collections.posts | reverse %}
    {%- set absolutePostUrl = post.url | absoluteUrl(site.url) %}
    <entry>
        <title><![CDATA[{{ post.data.title }}]]></title>
        <link href="{{ absolutePostUrl }}"/>
        <updated>{{ post.date | dateToRfc3339 }}</updated>
        <id>{{ absolutePostUrl }}</id>
        <content xml:lang="en" type="html"><![CDATA[{{ post.templateContent | teaser | htmlToAbsoluteUrls(absolutePostUrl) | safe }}]]></content>
    </entry>
    {%- endfor %}
</feed>
