---
permalink: /_redirects
layout: null
eleventyExcludeFromCollections: true
---
/tag/*  /category/:splat 301
/rss.xml /feed.xml 301
/atom.xml /feed.xml 301
/sitemap/sitemap-index.xml /sitemap.xml 301
