---
layout: default
generator: pagination
pagination:
    max_per_page: 10
use:
    - posts
---
<div itemprop="blogPosts">
    {% for post in page.pagination.items %}
        {% include 'post/teaser.twig' %}
    {% endfor %}
</div>

<nav class="post__archive">
    <a class="post__archive__link" href="/archive/">
        &mdash;
        Blog Archive
        &mdash;
    </a>
</nav>

