// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.gravatar{
    @include pie-clearfix();
    .gravatar-image{
        float:left;
    }
    .social-media{
        max-width: 150px;
        padding-top: 10px;
        margin-left:15px;
        float:left;
        font-size:28px;
        a{
            display:inline-block;
            width: 28px;
            height:32px;
            text-decoration: none;
            white-space: normal;
            word-wrap: break-word;
            word-break:break-all;
        }
    }
}