$visual-grid: false !default;

$breakpoint-xlarge: min-width 1280px;
$breakpoint-large: min-width 1150px;
$breakpoint-medium: min-width 850px;
$breakpoint-small: min-width 400px;

$background-light: #f8f8f8;
$background-medium: #d8d8d8;
$background-dark: #222;

$border-light: #e0e0e0;
$border-dark: #8c8c8c;

$text-color: rgba(34, 34, 34, 0.8);
$text-light: #888;
$link-color: #1863a1;
$link-color-hover: #0181eb;
$link-color-visited: #751590;
