<div itemprop="author" itemscope itemtype="http://schema.org/Person">
    <meta itemprop="givenName" content="Jonathan">
    <meta itemprop="familyName" content="Bernardi">
    <meta itemprop="name" content="Jonathan Bernardi">
</div>
