$max-width: 1224px;
$breakpoint-xlarge: 1280px;
$breakpoint-large: 1150px;
$breakpoint-medium: 850px;
$breakpoint-small: 400px;

$background-light: #f8f8f8;
$background-medium: #d8d8d8;
$background-dark: #222;

$border-light: #e0e0e0;
$border-dark: #8c8c8c;

$text-color: rgba(34, 34, 34, 0.8);
$text-light: #666;
$link-color: #1863a1;
$link-color-hover: #0181eb;
$link-color-visited: #751590;

$social-facebook: #3C5A99;
$social-twitter: #1DA1F2;
$social-linkedin: #0077B5;
